AZURE_OPENAI_ENDPOINT = "https://your-resource.openai.azure.com/"
AZURE_OPENAI_API_KEY = "your-azure-openai-api-key"
OPENAI_API_VERSION  = "2025-03-01-preview"
GEMINI_API_KEY = "your-gemini-api-key"
HUGGINGFACEHUB_API_TOKEN = "your-huggingface-api-token"

#GreatLearning
# OPENAI_BASE_URL="https://aibe.mygreatlearning.com/openai/v1"
# OPENAI_API_KEY="your-greatlearning-openai-api-key"

# Optional: LangSmith tracing
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=your-langsmith-project

# OPENAI_BASE_URL="https://api.openai.com/v1"
# OPENAI_API_KEY="your-openai-api-key"

#Multisoftsystems
OPENAI_API_KEY="your-openai-api-key"
# OPENROUTER_API_KEY="your-openrouter-api-key"
TAVILY_API_KEY="your-tavily-api-key"
OPENWEATHER_API_KEY="your-openweather-api-key"
OPENROUTER_API_KEY="your-openrouter-api-key"
